/* 
    Created on : 12/08/2016, 20:05:32
    Author     : SHS
*/

.titulo{
    background-color: #696969;
}

.body{
    background: #000000;
    color: #ffffff;
}

input{
    color: #ffffff;
    background-color: #696969;
}

.column + .column {
    margin-left: 3%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}











