/* 
    Created on : 12/08/2016, 20:05:32
    Author     : SHS
*/


html{
    background: #000000;
    color: #ffffff;
    cursor: url(../../imagem/cursor/amarelo.cur), auto;  
}

input{
    color: #ffffff;
    background-color: #000000;
    cursor: url(../../imagem/cursor/amarelo.cur), auto;
}

textarea{
    color: #ffffff;
    background-color: #0000ff;
    cursor: url(../../imagem/cursor/amarelo.cur), auto;
}

label{
    cursor: url(../../imagem/cursor/amarelo.cur), auto;
}

label > input:checked + img{
    border: 10px solid #ffff00;
}

select{
    color: #ffffff;
    background-color: #0000ff;
    cursor: url(../../imagem/cursor/amarelo.cur), auto;
}

button{
    color: #ffffff;
    background-color: #0000ff;
    
}

.titulo-login {
    background-color: #4f4e4e;
    text-align: center;
}

.box-login{
    background-color: #4f4e4e;
}

.column + .column {
    margin-left: 3%;
}

ul {
    background: -moz-linear-gradient(top, #0000CD, #000099);
    background: -webkit-gradient(linear, left top, left bottom, from(#0000CD), to(#000099));
    background: -o-linear-gradient(top, #0000CD, #000099);
}

li a {
    color: #ffff00;
}

li a:hover {
    background-color: #000099;
}

.modalDialog > div {
    background: #fff;
    background: -moz-linear-gradient(#0000CD, #000099);
    background: -webkit-linear-gradient(#0000CD, #000099);
    background: -o-linear-gradient(#0000CD, #000099);
}